################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Logger
/Logger/bin/Debug/netcoreapp3.1
/Logger/obj
/LoggerTests/bin/Debug/netcoreapp3.1
/LoggerTests/obj
